[access]
	inheritFrom = All-Projects
[submit]
[access "refs/*"]
	owner = group user/amitkrs0908
[access "refs/for/refs/*"]
	label-Code-Review = -2..+2 group user/amitkrs0908
	label-Verified = -1..+1 group user/amitkrs0908
	push = group user/amitkrs0908
	read = group user/amitkrs0908
	rebase = group user/amitkrs0908
	removeReviewer = group user/amitkrs0908
	submit = group user/amitkrs0908
[access "refs/heads/*"]
	create = group user/amitkrs0908
	push = +force group user/amitkrs0908
	pushMerge = group user/amitkrs0908
	read = group user/amitkrs0908
[access "refs/tags/*"]
	push = group user/amitkrs0908
	push = +force group user/amitkrs0908
